.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-icon {
  border: 1px solid;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  background-image: url(/06-jan-25-VanYewgava/img/IAM.png);
  background-size: cover;
  background-position: center;
}

.banner-image {
  border: 1px solid;
  height: 450px;
  background-size: cover;
  background-position: center;
}

.banner-image-1 {
  background-image: url(/06-jan-25-VanYewgava/img/deles.jpeg);
}
.banner-image-2 {
  background-image: url(/06-jan-25-VanYewgava/img/juwi.jpeg);
}
.banner-image-3 {
  background-image: url(/06-jan-25-VanYewgava/img/lemuru.jpeg);
}

nav {
  display: flex;
}

.left-rounded {
  border-radius: 5px 0 0 5px;
}

.right-rounded {
  border-radius: 0 5px 5px 0;
}
nav > a {
  border: 1px solid;

  padding: 8px;
  color: black;
  text-decoration: none;
}
.content {
  /* opsional */
  height: 500px;
}

footer {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .main-header {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
    width: 100%;
  }
  .left-rounded {
    border-radius: 0;
  }
  .right-rounded {
    border-radius: 0;
  }

  .logo-icon {
    margin-bottom: 14px;
  }
}
